<html>
    <head>
        <title>Resume Parser</title>
        <link rel="stylesheet" type="text/css" href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container pt-4 mt-4">
            <form method="POST"  enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary mt-4">Upload</button>
            </div>
            </form>
        </div>
    </body>
</html>